

html,body {

}

/* Basic */

	body, input, select, textarea {
		font-size: 13pt;
	}

/* Banner */

	#banner {
		padding: 12em 0em 10em;
	}

		#banner h2 {
			font-size: 3.5em;
		}

			.wrapper.white section div.box{
				width: 488px ;
			}

			.owl-wrapper {
				width: auto !important;
			}

			.owl-carousel .owl-item{
				width: 100% !important;
			}

			.owl-carousel .item{
				width: 100%;
			}
/* Footer */

	#footer .icons .rounded {
		font-size: 1em;
	}
