
/* Basic */

body, input, select, textarea {
	font-size: 12pt;
}

/* Section/Article */

section.special, article.special {
	text-align: center;
}

header.major {
	margin-bottom: 2em;
}

header.major h2 {
	font-size: 2em;
}

header.major p {
	padding: 1em 1em 0 1em;
}


#cont-print header p {
	font-size: 15px;
}


/* Banner */

#banner {
	padding: 1em 2em 1em;
}

#banner h2 {
	font-size: 2.25em;
}

#banner p {
	font-size: 1.25em;
}

.owl-carousel .item h3, h2, h1{
	font-size: 2em;
}

.owl-carousel .item p{
	font-size: 1.5em;
}
/* Wrapper */

.wrapper.white .feature {
    text-align: center;
		width: 100%;
    color: rgba(0, 50, 84, .76);
		margin-left:0em;

}

.wrapper.white header h2{
	font-size: 1.5em;
}

.wrapper.white header p{
	font-size: 0.8em;
}

.owl-wrapper {
	width: auto !important;
}

.owl-carousel .owl-item{
	width: 100% !important;
}

.owl-carousel .item{
	width: 100%;
}

.portfolio-item-hb.marketing{
  max-height: none;
}
.wrapper.gray .feature img {
	display: none;
}

.wrapper.white section div.box {
	margin: 1em auto;
}

#server div.container div.row section{
 margin-bottom: 1em;
}

/* Footer */

#footer {
	padding: 4em 0em 4em;
}

#footer .copyright li {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
	display: block;
}
