@charset "UTF-8";

@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

/* Basic */

	body {
		background-color: #FFF;
	}

	body, input, select, textarea {
		color: #444;
		font-family: "Lato", Helvetica, sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		color: #666;
		font-weight: 400;
	}

	em, i {
		font-style: italic;
		text-align: center;
	}

	p {
		margin: 0 0 2px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #666;
		font-weight: 300;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

 .text-align{
	 text-align: center;
 }

 progress::-webkit-progress-bar {
   border-radius: 100%;
 }

	button {
	    display: inline-block;
	    margin-right: 10px;
	    margin-left: 10px;
	    padding: 10px 30px;
	    border: 1px solid #035;
	    border-radius: 4px;
	    -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
	    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
	    color: #035;
	    line-height: 21px;
	    font-weight: 300;
	    letter-spacing: 2px;
	    text-decoration: none;
	    text-transform: uppercase;
}


.bottton-blue{
		display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    border: 1px solid #035;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    color: #035;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;

}


/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		text-align: center;
		margin-bottom: 3em;
	}

		header.major h2 {
			font-size: 3em;
		}

		header.major p {
			border-top: medium double rgba(144, 144, 144, 0.25);
			display: inline-block;
			padding: 2em 2em 0 2em;
		}

/* Header */

	body.landing #header {
		background: linear-gradient(rgba(38, 38, 38, 0.58), rgba(38, 38, 38, 0.58));
		left: 0;
		position:  fixed;
		top: 0;
	}

	/* ********************************************************** */
	/* *********************    Menu    ************************* */
	/* ********************************************************** */

#loading-mask {
background: #333439;
height: 100%;
left: 0;
opacity: 1;
filter: alpha(opacity=100);
position: fixed;
text-align: center;
top: 0;
width: 100%;
z-index: 999999999;
}

.loading-img {
height: 100%;
left: 0;
position: fixed;
top: 50%;
width: 100%;
}

.position-relative{
position: relative !important;
}



/* *************************************************************************** */
/* *********************    Banner-slider  *********************************** */
/* *************************************************************************** */

	#banner {
		position: relative;
		background-image: -webkit-linear-gradient(right, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("../img/body/img-body-1.jpg");
		background-image: -o-linear-gradient(right, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("../img/body/img-body-1.jpg");
		background-image: linear-gradient(to left, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("../img/body/img-body-1.jpg");
		background-position: 0px 0px, 50% 50%;
		background-size: auto, cover;
		background-attachment: scroll, fixed;
		color: #ffffff;
		padding: 5em 0em 5em;
		text-align: center;
		display: table;
		height: 100%;
		width: 100%;
		min-height: 100%;
		left: 0;
		top: 0;
		z-index: 11;
	}

	section.wapper-imgHome{
		height: 37em;
	}

		section.wapper-imgHome h3 {
			color: #ffffff;
			font-size: 3em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		section.wapper-imgHome	header.wapper-margen span.avatar {
			display: block;
			margin-bottom: 1.5em;
			display: block;
			margin: 1em auto;
			height:15em;
			width:15em;
			border: 0px;
			background-image: url(../img/per/cloud01.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			/*box-shadow: 0 0 0 0.09em rgba(255, 255, 255, 0.58);*/
		}

		section.wapper-imgHome p {
			font-size: 1.5em;
			margin: 1.5em 0 0 0;
		}

		section.wapper-imgHome .actions {
			margin: 3em 0 0 0;
		}

		section.wapper-imgHome .button {
			background-color: transparent;
			border: 1px solid #ffffff;
			font-weight: 300;
		}

			section.wapper-imgHome .button:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}


/* ********************************************************** */
/* *********************    Menu    ************************* */
/* ********************************************************** */
				header.navbar {
					position: relative ;
					height:3em;
					background-color:#ffffff ;
					color: #202222;
					cursor: default;
					line-height: 4.75em;
					width: 100%;
					z-index: 10000;
				}

					header.navbar div.navbar-header{
						text-align: left;
						position: absolute;
						height: 45px;
						bottom: 1em;
						left: 5em;
					}

					header.navbar div.navbar-header a{
						direction: rtl;
						color: #035;
						font-size: 0.8em;
						font-style: normal;
						font-weight: 300;
						text-align: center;
						letter-spacing: 5px;
						text-decoration: none;
						text-transform: uppercase;
						margin-bottom: 1em;
					}
/**/


					header.navbar nav {
						float:right;
						position: absolute;
						height: 45px !important;
						right:1em;
						left:0;
						bottom: 1em;
						height: 2em;
						text-align: right;
						vertical-align: middle;
					}

						header.navbar nav > ul {
							list-style: none;
							margin: 0;
							padding-left: 0;
						}

							header.navbar nav > ul > li {
								display: inline-block;
								margin-left: 1.5em;
								padding-left: 0.5em;
								padding-right: 0.5em;
							}

								header.navbar nav > ul > li a {
									-moz-transition: color 0.2s ease-in-out;
									-webkit-transition: color 0.2s ease-in-out;
									-o-transition: color 0.2s ease-in-out;
									-ms-transition: color 0.2s ease-in-out;
									transition: color 0.2s ease-in-out;
									color: #003254;
									text-align: center;
									display: inline-block;
									text-decoration: none;
									text-transform: uppercase !important;
									font-size: 0.8em;
								}

									header.navbar nav > ul > li a:hover {
										color: #003254;
									}

								header.navbar nav > ul > li:first-child {
									margin-left: 0;
								}

								header.navbar nav > ul > li .button {
									height: 2.25em;
									line-height: 2.25em;
									margin-bottom: 0;
									padding: 0 1em;
									position: relative;
									top: -0.075em;
									vertical-align: middle;
								}


/* *************************************************************************** */
/* ***************************    wrapper  *********************************** */
/* *************************************************************************** */
	.wrapper {
		padding: 3em 0em 3em;
	}

/* Contenedor blanco principal */
		.wrapper.white  {
			border-bottom: 1px solid rgba(144, 144, 144, 0.25) ;
			background: #fff;
		}

			.wrapper.white .title, .wrapper.style2 header {
				padding-bottom: 0.5em;
			}

			.wrapper.white header {
				margin-top: 3em;
				margin-bottom: 5em;
			}

				.wrapper.white  header h2 {
					direction: rtl;
					color: #035;
					font-size: 2em;
					font-style: normal;
					font-weight: 300;
					text-align: center;
					letter-spacing: 5px;
					text-decoration: none;
					text-transform: uppercase;
					margin-bottom: 1em;
				}

				.wrapper.white header p {
					display: block;
			    color: #035;
			    font-size: 1.1em;
			    font-weight: 300;
			    text-align: center;
			    letter-spacing: 3px;
			    text-transform: uppercase;
				}

				.wrapper.white div.row section i{
					height: 92.38px;
					width: 150px;
				}

			.wrapper.white .feature {
				margin: 0 0 2em 0;
				text-align: center;
				color: rgba(0, 50, 84, .76);
			}

				.wrapper.white .feature h2 {
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #003254;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase !important;
					font-size: 1em;
				}


				.wrapper.white .feature p {
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #003254;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					text-transform: none !important;
					font-size: 0.9em;
				}

			.wrapper.white .box {
				text-align: center;
				color: rgba(0, 50, 84, .76);
				padding: 2em;
			}

				.wrapper.white .box h2 {
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #003254;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase !important;
					font-size: 1em;
				}


				.wrapper.white .box p {
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #003254;
					text-align: justify;
					display: inline-block;
					text-decoration: none;
					text-transform: none !important;
					font-size: 0.9em;
				}


/* Contenedor gris que es el secundario */

		.wrapper.gray  {
			background-color: #e7e7e7;
			border-bottom: 1px solid rgba(144, 144, 144, 0.25) ;
		}

			.wrapper.gray .title, .wrapper.style2 header {
				padding-bottom: 0.5em;
			}

				.wrapper.gray header {
					margin-bottom: 1em;
				}

/*;*/
				.wrapper.gray .feature {
					margin: 0 0 2em 0;
				}

				.wrapper.gray section.feature  img.img {
					height: 20em;
					margin-left: 9em;
				}

					.wrapper.gray header div.navy-line {
						width: 60px;
						height: 1px;
						margin: 10px auto 0;
						border-bottom: 2px solid #262626;
					}

					.wrapper.gray section.feature  h2 {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #003254;
						text-align: center;
						display: inline-block;
						text-decoration: none;
						text-transform: uppercase !important;
						font-size: 1.5em;
					}


					.wrapper.gray section.feature  p {
						-moz-transition: color 0.2s ease-in-out;
						-webkit-transition: color 0.2s ease-in-out;
						-o-transition: color 0.2s ease-in-out;
						-ms-transition: color 0.2s ease-in-out;
						transition: color 0.2s ease-in-out;
						color: #003254;
						text-align: left;
						display: inline-block;
						text-decoration: none;
						text-transform: none !important;
						font-size: 0.9em;
					}

					.wrapper.gray section.feature  a {
						margin-top: 2em;

					}

						.wrapper.gray section.feature div.content {
							padding:1em;
							width: 100%;
						}

						.wrapper.gray section.feature div.content  div.row{
							margin: 0em;
							padding: 0.8em;
						}
/* Contenerdor tres de imagenes */

		section.wrapper.img  {
			border-bottom: 4px solid #035;
			border-top:4px solid #035;
		}

		section.wrapper.img div.container  {
			padding: 2em;
		}

		section.wrapper.img.one{
			background-image: -webkit-linear-gradient(right, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("../img/body/img-body-2.jpg");
			background-image: -o-linear-gradient(right, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("../img/body/img-body-2.jpg");
			background-image: linear-gradient(to left, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("../img/body/img-body-2.jpg");
			background-position: 0px 0px, 50% 50%;
			background-size: auto, cover;
			background-attachment: scroll, fixed;
		}

				section.wrapper.img i {
					margin-top: 0em;
					display: block;
					width: 3em;
					margin-right: auto;
					margin-left: auto;
					padding-bottom:0.9em;
					padding-top: 0.9em;
					font-size: 2em;
					color: #FFF;
					border: 10px none #003254;
					border-radius: 100%;
					background-color: transparent;
					box-shadow: 0 0 0 2px #fff;
				}


				section.wrapper.img  p {
					margin-top: 2em;
					margin-right: auto;
					margin-left: auto;
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #FFF;
					text-align: center;
					display:block;
					text-decoration: none;
					text-transform: uppercase !important;
					font-size: 1.5em;
			}


/* *************************************************************************** */
/* ********************    Equipo de trabajo   ****************************** */
/* *************************************************************************** */


.portfolio-filter {
	margin-bottom: 15px;
}

	.portfolio-filter ul li {
		display: inline;
	}

		.portfolio-filter ul li a {
			background: none repeat scroll 0 0 #f7f7f7;
			border-radius: 4px;
		 color: #035;
			display: inline-block;
			font-family: 'LatoRegular',sans-serif;
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 5px;
			padding: 10px 22px;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out 0s;

		}


		.btn:hover,
		.btn:focus,
		.btn:active{
		    outline: 0 !important;
		}
		.card-container {
			  -webkit-perspective: 800px;
		   -moz-perspective: 800px;
		     -o-perspective: 800px;
		        perspective: 800px;
		        margin-bottom: 30px;
		}
		/* flip the pane when hovered */
		.card-container:not(.manual-flip):hover .card,
		.card-container.hover.manual-flip .card{
			-webkit-transform: rotateY( 180deg );
		-moz-transform: rotateY( 180deg );
		 -o-transform: rotateY( 180deg );
		    transform: rotateY( 180deg );
		}


		.card-container.static:hover .card,
		.card-container.static.hover .card {
			-webkit-transform: none;
		-moz-transform: none;
		 -o-transform: none;
		    transform: none;
		}
		/* flip speed goes here */
		.card {
			 -webkit-transition: -webkit-transform .5s;
		   -moz-transition: -moz-transform .5s;
		     -o-transition: -o-transform .5s;
		        transition: transform .5s;
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
		     -o-transform-style: preserve-3d;
		        transform-style: preserve-3d;
			position: relative;
		}

		/* hide back of pane during swap */
		.front, .back {
			-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		     -o-backface-visibility: hidden;
		        backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #FFF;
		    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
		}

		/* front pane, placed above back */
		.front {
			z-index: 2;
		}

		/* back, initially hidden pane */
		.back {
				-webkit-transform: rotateY( 180deg );
		   -moz-transform: rotateY( 180deg );
		     -o-transform: rotateY( 180deg );
		        transform: rotateY( 180deg );
		        z-index: 3;
		}

		.back .btn-simple{
		    position: absolute;
		    left: 0;
		    bottom: 4px;
		}
		/*        Style       */


		.card{
		    background: none repeat scroll 0 0 #FFFFFF;
		    border-radius: 4px;
		    color: #444444;
		}
		.card-container, .front, .back {
			width: 100%;
			height: 420px;
			border-radius: 4px;
		}
		.card .cover{
		    height: 105px;
		    overflow: hidden;
		    border-radius: 4px 4px 0 0;
		}
		.card .cover img{
		    width: 100%;
		}
		.card .user{
		    border-radius: 50%;
		    display: block;
		    height: 120px;
		    margin: -55px auto 0;
		    overflow: hidden;
		    width: 120px;
		}
		.card .user img{
		    background: none repeat scroll 0 0 #FFFFFF;
		    border: 4px solid #FFFFFF;
		    width: 100%;
		}

		.card .content{
		    background-color: rgba(0, 0, 0, 0);
		    box-shadow: none;
		    padding: 10px 20px 20px;
				text-align: center;
				color: #035;
		}
		.card .content .main {
		    min-height: 160px;
		}

				.card .content .main h4 {
						color: #035;
				}


		.card .back .content .main {
		    height: 215px;
		}
		.card .name {
		    font-size: 22px;
		    line-height: 28px;
		    margin: 10px 0 0;
				color: #035;
		    text-align: center;
		    text-transform: capitalize;
		}
		.card h5{
		    margin: 5px 0;
		    font-weight: 400;
		    line-height: 20px;
		}
		.card .profession{
		    color: #035;
		    text-align: center;
		    margin-bottom: 20px;
		}
		.card .footer {
		    border-top: 1px solid #EEEEEE;
		    color: #035;
		    margin: 30px 0 0;
		    padding: 10px 0 0;
		    text-align: center;
		}
		.card .footer .social-links{
		    font-size: 18px;
		}
		.card .footer .social-links a{
		    margin: 0 7px;
		}
		.card .footer .btn-simple{
		    margin-top: -6px;
		}
		.card .header {
		    padding: 15px 20px;
		    height: 90px;
		}
		.card .motto{
		    border-bottom: 1px solid #EEEEEE;
		    color: #035;
		    font-size: 14px;
		    font-weight: 400;
		    padding-bottom: 10px;
		    text-align: center;
		}

		.card .stats-container{
			width: 100%;
			margin-top: 50px;
		}
		.card .stats{
			display: block;
			float: left;
			width: 33.333333%;
			text-align: center;
		}

		.card .stats:first-child{
			border-right: 1px solid #EEEEEE;
		}
		.card .stats:last-child{
			border-left: 1px solid #EEEEEE;
		}
		.card .stats h4{
			color: #035;
			font-weight: 300;
			margin-bottom: 5px;
		}
		.card .stats p{
			color: #035;
		}

		.facebook, .google, .twitter{
			color: #035;
		}
		/*      Just for presentation        */

		.title{
		    color: #506A85;
		    text-align: center;
		    font-weight: 300;
		    font-size: 44px;
		    margin-bottom: 90px;
		    line-height: 90%;
		}
		.title small{
		    font-size: 17px;
		    color: #999;
		    text-transform: uppercase;
		    margin: 0;
		}
		.space-30{
			height: 30px;
			display: block;
		}
		.space-50{
		    height: 50px;
		    display: block;
		}
		.space-200{
		    height: 200px;
		    display: block;
		}
		.white-board{
		    background-color: #FFFFFF;
		    min-height: 200px;
		    padding: 60px 60px 20px;
		}
		.ct-heart{
		    color: #F74933;
		}

		 pre.prettyprint{
		    background-color: #ffffff;
		    border: 1px solid #999;
		    margin-top: 20px;
		    padding: 20px;
		    text-align: left;
		}
		.atv, .str{
		    color: #05AE0E;
		}
		.tag, .pln, .kwd{
		     color: #3472F7;
		}
		.atn{
		  color: #2C93FF;
		}
		.pln{
		   color: #333;
		}
		.com{
		    color: #999;
		}

		.btn-simple{
		    opacity: .8;
		    color: #666666;
		    background-color: transparent;
		}

		.btn-simple:hover,
		.btn-simple:focus{
		    background-color: transparent;
		    box-shadow: none;
		    opacity: 1;
		}
		.btn-simple i{
		    font-size: 16px;
		}

		.navbar-brand-logo{
		    padding: 0;
		}
		.navbar-brand-logo .logo{
		    border: 1px solid #333333;
		    border-radius: 50%;
		    float: left;
		    overflow: hidden;
		    width: 60px;
		}
		.navbar .navbar-brand-logo .brand{
		    color: #FFFFFF;
		    float: left;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: 20px;
		    margin-left: 10px;
		    margin-top: 10px;
		    width: 60px;
		}
		.navbar-default .navbar-brand-logo .brand{
		    color: #555;
		}


		/*       Fix bug for IE      */

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		    .front, .back{
		        -ms-backface-visibility: visible;
		        backface-visibility: visible;
		    }

		    .back {
		        visibility: hidden;
		        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
		    }
		    .front{
		        z-index: 4;
		    }
		    .card-container:not(.manual-flip):hover .back,
		    .card-container.manual-flip.hover .back{
		        z-index: 5;
		        visibility: visible;
		    }
		}


/* *************************************************************************** */
/* *****************************  Experiencia   ****************************** */
/* *************************************************************************** */

.line {
  height: 15px;
}




/* *************************************************************************** */
/* ********************    Figuras Geometricas  ****************************** */
/* *************************************************************************** */


/* Diamante +*/

.diamond {
	position: relative;
	width: 160px;
	height: 92.38px;
	background-color: transparent;
	margin: 46.19px auto 60px;
	padding: 1em 0;
	border-left: solid 3px rgba(0, 50, 84, .76);
	border-right: solid 3px rgba(0, 50, 84, .76);
	border-radius: 3%;
	-webkit-transform: translateZ(0px);
	   -moz-transform: translateZ(0px);
		-ms-transform: translateZ(0px);
		 -o-transform: translateZ(0px);
			transform: translateZ(0px);

	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		 -o-transition-duration: 0.3s;
			transition-duration: 0.3s;

	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		 -o-transition-property: transform;
			transition-property: transform;
}

			.diamond:hover {
				-webkit-transform: translateY(-10px);
				   -moz-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
					 -o-transform: translateY(-10px);
						transform: translateY(-10px);
			}

			.diamond:before,
			.diamond:after {
				content: "";
				position: absolute;
				z-index: 1;
				width: 113.14px;
				height: 113.14px;
				background-color: inherit;
				left: 20.4315px;
				border-radius: 5%;
				-webkit-transform: scaleY(0.5774) rotate(-45deg);
				   -moz-transform: scaleY(0.5774) rotate(-45deg);
					-ms-transform: scaleY(0.5774) rotate(-45deg);
					 -o-transform: scaleY(0.5774) rotate(-45deg);
						transform: scaleY(0.5774) rotate(-45deg);
			}

				.diamond:before {
					top: -56.5685px;
					border-radius: 5%;
					border-top: solid 4.2426px rgba(0, 50, 84, .76);
					border-right: solid 4.2426px rgba(0, 50, 84, .76);
				}

				.diamond:after {
					bottom: -56.5685px;
					border-radius: 5%;
					border-bottom: solid 4.2426px rgba(0, 50, 84, .76);
					border-left: solid 4.2426px rgba(0, 50, 84, .76);
				}



/*Rombos */
#rombo .contenido{
  border-radius:10px;
  background-color:#035;
  padding:0;
  width:200px;
  height:200px;
  margin:auto;
  text-align:center;
    display:block;
    border:5px solid white;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transition: transform  0.1s cubic-bezier(0, 1.8, 1, 1.8);
}
#rombo {

  padding:41.42px;
  float:left;
}
#rombo .contenido:hover{
  transform:rotate(45deg) scale(1.005) translateX(-0.5px);
  background-color:rgba(0, 50, 84, .76);
  box-shadow:10px 10px 50px rgba(0, 50, 84, .76) inset, -10px -10px 50px rgba(0, 50, 84, .76) inset;
}
#rombo .contenido .texto {
  border-radius:4px;
 font-family: Verdana;
  color:white;
 position: relative;
  overflow:hidden;
  padding:20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  font-size:1vw;
  text-transform:uppercase;

}
