
/* Basic */

body, input, select, textarea {
	font-size: 12pt;
}

/* Section/Article */

section.special, article.special {
	text-align: center;
}

header.major {
	margin-bottom: 2em;
}

header.major h2 {
	font-size: 2em;
}

header.major p {
	padding: 1em 1em 0 1em;
}


#cont-print header p {
	font-size: 15px;
}


/* Banner */

#banner {
	padding: 1em 2em 1em;
}

#banner h2 {
	font-size: 2.25em;
}

#banner p {
	font-size: 1.25em;
}

/* Wrapper */

.wrapper {
	/* Style 1 Wrapper */
	/* Style 2 Wrapper */
}

.wrapper.style1 {
	padding: 4em 2em 2em;
}

.wrapper.style2 {
	padding: 4em 0em 2em;
}

.vertical-timeline-content h2{
	font-size: 18px;
}

.vertical-timeline-content p{
	font-size: 12px;
}

.vertical-timeline-content .vertical-date {
	float: left;
	font-size: 12px;
}


/* Footer */

#footer {
	padding: 4em 0em 4em;
}

#footer .copyright li {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
	display: block;
}