@charset "UTF-8";
@import url(fon-image/font-awesome.css);
@import url(fon-image/font-awesome.min.css);
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family:"Lato", Helvetica, sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.65em;
}

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
    background-image: -webkit-linear-gradient(right, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("https://picjumbo.imgix.net/HNCK4536.jpg?q=40&w=1650&sharp=30");
    background-image: -o-linear-gradient(right, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("https://daks2k3a4ib2z.cloudfront.net/5658db85b2deead06a6a6390/565b9ac5b268b6860dd2769c_Banner-6.jpg");
    background-image: linear-gradient(to left, rgba(0, 50, 84, .76), rgba(0, 50, 84, .58)), url("https://picjumbo.imgix.net/HNCK4536.jpg?q=40&w=1650&sharp=30");
    background-position: 0px 0px, 50% 50%;    
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    color: #fff;
    text-align: center;
}


.centrado {
	position: relative;
  	top: 50%;

  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#contenedor {
	position: absolute;
	top: 0;
	bottom: 0;

	width: 100%;
}

#reclamo, #suscripcion {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

#reclamo {
	top: 0;
}

#suscripcion {
	top: 100%;
}

/* ********************************************************** */
/* *********************    Logotipo    ********************* */
/* ********************************************************** */
#logo {
	margin-top: 30px;
	text-align: center;
    color: #fff;
	font-size: 35px;
    line-height: 60px;
    text-transform: uppercase;
}
 img {
	width: 15%;
	height: auto;
	margin: 0;
}

/* ********************************************************** */
/* ***************   Mensajes de reclamo  ******************* */
/* ********************************************************** */

#reclamo > section {
	position: absolute;
	left: 0;
	right: 0;

	width: 70%;
	margin: 0 auto;
}

.frase {
	font-size: 60px;
	font-size: 6rem;
	text-align: center;

	-webkit-animation: 	fade-in-out 10s infinite;
  	-moz-animation:    	fade-in-out 10s infinite;
  	-o-animation:      	fade-in-out 10s infinite;
	animation: 			fade-in-out 10s infinite;
}

#frase-1 {
	opacity: 1;

	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}

#frase-2 {
	opacity: 0;

	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

/*#frase-3 {
	opacity: 0;

	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-o-animation-delay: 10s;
	animation-delay: 10s;
}*/

@-webkit-keyframes fade-in-out {
  0%, 33%, 100%   { opacity: 0; }
  16% { opacity: 1; }
}

@-moz-keyframes fade-in-out {
  0%, 33%, 100%  { opacity: 0; }
  16% { opacity: 1; }
}

@-o-keyframes fade-in-out {
  0%, 33%, 100%   { opacity: 0; }
  16% { opacity: 1; }
}

@keyframes fade-in-out {
	0%, 33%, 100% { opacity: 0; }
	16% { opacity: 1; }
}




/* ********************************************************** */
/* ********************* Media Queries  ********************* */
/* ********************************************************** */
@media (max-height: 480px) and (orientation:landscape) {

	#logo > img {
		width: 10%;
	}

}

@media (min-width: 768px) {

	#mce-EMAIL, #mc-embedded-subscribe {
		display: inline-block;
	}

	#mce-EMAIL {
		width: 40%;
		margin-right: 2%;
	}

	#mc-embedded-subscribe {
		width: auto;
		padding: 10px 20px;
	}

}
